<!doctype html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		
		<link rel="shortcut icon" href="static/favicon.ico">
		<link rel="apple-touch-icon" href="static/apple-touch-icon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="dcterms.date" content="2023-10-10">
		<meta name="robots" content="index,follow">
		<meta name="geo.country" content="US">
		
		<meta name="description" content="">
		<meta name="keywords" content="">

		<title>Launchcode Studios</title>
		
		<link href="static/tachyons.min.css" rel="stylesheet">
		<link href="static/bloodline.min.css" rel="stylesheet">
		
		
	</head>
	<body class="pb4 sans-serif">
		<div>Launchcode Studios</div>
	</body>
</html>

