<!doctype html>
<html lang="en-US">
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-BGVLKK5051"></script>
		<script>window.dataLayer = window.dataLayer || [];function gtag(){dataLayer.push(arguments);}gtag('js', new Date());gtag('config', 'G-BGVLKK5051');</script>
		<meta charset="utf-8">
		<link rel="shortcut icon" href="static/favicon.ico">
		<link rel="apple-touch-icon" href="static/apple-touch-icon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="dcterms.date" content="2023-10-20">
		<meta name="robots" content="index,follow">
		<meta name="geo.country" content="US">		
		<meta name="description" content="Oat & Co. makes delicious gourmet gluten-free no-bake cookies with oats, rice crispie treats, edible cookie dough and more.">
		<meta name="keywords" content="no-bake cookies, nobake cookies, oats, gluten-free, oats no bake, food truck, food trailer">
		<meta name="owner" content="Gina Pettaris">
		<meta name="author" content="Gina Pettaris">
		<meta name="developer" content="Launchcode Studios">
		<meta name="robots" content="index, follow">
		<meta property='og:title' content='Oat & Co.'/>
		<meta property="og:image" content="https://oatunbaked.com/static/logo-ogimage.png" />
		<meta property="og:description" content="Oat & Co. makes delicious gourmet gluten-free no-bake cookies with oats, rice crispie treats, edible cookie dough and more." />
		<meta property="og:url" content="https://oatunbaked.com/" />
		<meta property="og:type" content="website" />
		<meta property="og:locale" content="en_US" />
		
		<title>Oat and Co.</title>
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500&display=swap" rel="stylesheet">
		
		<link href="static/oats-bundle.min.css" rel="stylesheet">
		<link href="static/site.css" rel="stylesheet">
		
	</head>
	<body class="bg-white barlow f4">
		<div class="bg-mint pv4 ph3">
			<div class="flex justify-center items-center">
				<div class="ph4 dn db-l"><img src="static/leadspace-cookie-2x.png" class="db" width="78" alt="cookie"></div>
				<div class="ph4 dn db-ns"><img src="static/leadspace-oats-2x.png" class="db" width="78" alt="oats"></div>
				<div class="ph4 dn db-ns"><img src="static/leadspace-cookie-2x.png" class="db" width="78" alt="cookie"></div>
				<div class="ph4"><img src="static/logo-2x.png" class="db" width="266" alt="Oat and Co. logo"></div>
				<div class="ph4 dn db-ns"><img src="static/leadspace-cookie-2x.png" class="db" width="78" alt="cookie"></div>
				<div class="ph4 dn db-ns"><img src="static/leadspace-oats-2x.png" class="db" width="78" alt="oats"></div>
				<div class="ph4 dn db-l"><img src="static/leadspace-cookie-2x.png" class="db" width="78" alt="cookie"></div>
			</div>
			
			<div class="mt4 dn db-ns"><img src="static/leadspace-headline.svg" class="db ml-auto mr-auto" width="500" alt="cookie"></div>
			<div class="mt4 db dn-ns"><img src="static/leadspace-headline-2-liner.svg" class="db ml-auto mr-auto" width="500" alt="cookie"></div>
			
			
		</div>
		
		<div class="flex flex-row-ns flex-column bg-light-mint ph3 pv3 pv0-ns justify-center items-center">
			<a href="#nobakes" class="f4 mv3 textcolor br-ns b--near-black mr4 pr4 self-stretch">gourmet no-bakes</a>
			<a href="#treats" class="f4 mv3 textcolor br-ns b--near-black mr4 pr4 self-stretch">more sweet treats</a>
			<a href="#beverages" class="f4 mv3 textcolor br-ns b--near-black mr4 pr4 self-stretch">beaverages</a>
			<a href="#findus" class="f4 mv3 textcolor self-stretch">where to find us</a>
		</div>
	
		<div class="bg-oat pv4 ph3">
			<div class="mw7 tc lh-copy ml-auto mr-auto">
				<div class="b">WHY OATS?</div>
				<div>After running a successful bakery & cupcake shop for 8 years, I decided I wanted to focus on creating delicious, gluten-free treats that everyone can enjoy. Oats were the perfect grain to start with. They're delicious, versatile and offer many health benefits that regular wheat flour can’t provide. Oat & Co. creates gourmet no-bakes, rice crispie treats, edible cookie dough and more! 
					<br>We can’t wait to introduce you to how delicious gluten-free can be.</div>
			</div>
			<div class="mt4"><img src="static/xoxo.svg" class="db ml-auto mr-auto" width="100"></div>
		</div>
		
		<div id="nobakes" class="pv4 ph3 w-100">
			<div class="tc">
				<div><img src="static/headline-nobake.svg" width="400" alt="no-bakes"></div>
				<div class="mt2 lh-copy">All of our gourmet no-bakes cookies are made with gluten-free oats and wheat free ingredients<br>(rollover the cookies to view descriptions)</div>
			</div>
			
			<div class="mw9 ml-auto mr-auto flex flex-wrap justify-center">
				{% for cookie in data.cookies %}
					{% include 'partial_cookie.html' %}
				{% endfor %}
			</div>
		</div>
		
		<div class="w-90 w-80-ns ml-auto mr-auto bt bw2 b--mint"></div>
			
		<div id="treats" class="pv4 ph3 w-100">
			<div class="tc">
				<div><img src="static/headline-floof.svg" width="200" alt="Floofs"></div>
				<div class="mt2">Two no-bake cookies with a cream filling - and yes, they’re gluten-free!</div>
			</div>
			
			<div class="mw9 ml-auto mr-auto flex flex-wrap justify-center">
				{% for cookie in data.floofs %}
					{% include 'partial_cookie.html' %}
				{% endfor %}
			</div>
		</div>
		
		<div class="w-90 w-80-ns ml-auto mr-auto bt bw2 b--mint"></div>
			
		<div class="pv4 ph3 w-100">
			<div class="tc">
				<div><img src="static/headline-cookie-dough.svg" width="480" alt="Floofs"></div>
				<div class="mt2">Gluten-free edible oatmeal cookie dough</div>
			</div>
			
			<div class="mw9 ml-auto mr-auto flex flex-wrap justify-center">
				{% for cookie in data.cookieDoughs %}
					{% include 'partial_cookie.html' %}
				{% endfor %}
			</div>
		</div>
		
		<div class="w-90 w-80-ns ml-auto mr-auto bt bw2 b--mint"></div>
			
		<div id="beverages" class="pv4 ph3 w-100">
			<div class="tc">
				<div><img src="static/headline-beverages.svg" width="180" alt="Beverages"></div>				
			</div>
			
			<div class="mw9 ml-auto mr-auto flex flex-wrap justify-center">
				{% for cookie in data.beverages %}
					{% include 'partial_cookie.html' %}
				{% endfor %}
			</div>
		</div>
		
		<div id="findus" class="pv4 ph3 w-100 bg-armygreen">
			<div class="tc">
				<div><img src="static/headline-find-us.svg" width="340" alt="Beverages"></div>
				
				<div class="mt2 white lh-copy">Upcoming locations and events coming soon.<br>You can also contact us at contact@oatunbaked.com to book us for your private event!</div>
			</div>
		</div>
		
		<footer>
			<div class="bg-mint pv4 ph3">
				<div class="flex justify-center items-center">
					<div class="ph4"><img src="static/logo-2x.png" class="db" width="133" alt="Oat and Co. logo"></div>
				</div>
			</div>
		</footer>
		<time class="dn" datetime="2023-10-20">October 20, 2023</time>
		
	</body>
</html>

