<div class="mh5 mv5 w5 h5 menu-item bg-cookie-{{ cookie.color }}" tabindex="0">
	{% if not cookie.omitRollover %}<div class="absolute cookie-cover {% if cookie.photoOnly %}disable-hover{% endif %}"><img src="static/img/{% if cookie.staticImage %}{{ cookie.staticImage }} {% else %}cookie-default.webp{% endif %}" {% if cookie.style %}style="{{ cookie.style }}"{% endif %}class="db br-100" alt="Cookie"></div>{% endif %}
	<div class="w5 h5 tc flex justify-center items-center">
		<div class="w4">{{ cookie.descr }}</div>
	</div>
	<div class="f3 tc pt3 ttu">{{ cookie.name }}</div>
</div>
